<p>influencers works!</p>



<div class="info">
    <div class="heading">
    <h3 class="head_1">PARTNER WITH US AS </h3>
    <h1 class="head_2">INFLUENCERS</h1>
    </div>
    
    <!-- <div class="extra" >
    <img src="pic2.jpg" alt="picture" class="influ_pic" ></img>
      <div class="padding">
      </div>
    </div> -->
    
    <div class="form_deets2">
      <div class="extra" >
     <img src="pic2" alt="picture" class="influ_pic" >
      </div>
      <h4>FILL IN THE FORM</h4>
      <form class="row g-3">
      <div class="col-sm-2">
        <label for="company" class="form-label">First Name *</label>
        <input type="text" class="form-control" id="company" required>
      </div>
      <div style="margin-left:12px;" class="col-sm-2">
        <label for="company" class="form-label">Middle Name</label>
        <input type="text" class="form-control" id="company">
      </div>
      <div style="margin-left:12px;" class="col-sm-2">
        <label for="company" class="form-label"> Last Name *</label>
        <input type="text" class="form-control" id="company" required>
      </div>
      <!--<div class="col-sm-4"></div>  -->
      <!-- <div class="col-sm-4">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div> -->
    
    <div>
    
      <div style="display: inline-block;" class="col-sm-2" style="margin-top: 10px; ">
    <label for="date" aria-label="default select example" class="form-label">Date Of Birth *</label>
      <input type="date" class="form-control" id="date" required>
    
      </div>
    
    <!--gender-->
    
    <div  style="display: inline-block; margin-left: 15px;" class="col-sm-2">
      <label for="no_of_branch" class="form-label" >Gender *</label>
      <select class="form-select" aria-label="Default select example" placeholder="select" required>
      <option value="1" >Male</option>
      <option value="2">Female</option>
      <option value="3">Others</option>
      <option value="4">Prefer not to say</option>
    
    </select>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-label" for="seeAnotherFieldGroup">Are you below 18 years of age?</label>
        <select class="form-control" id="seeAnotherFieldGroup">
             <option value="" disabled selected> Select </option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
    
        </select>
      </div>
    </div>
    
    <div class="form-group" id="otherDiv">
      <label for="otherField1">Father/Mother/Guardian Information *</label>
        <div class="row" style="margin-top: 15px;">
    
          <div class="col-3">
    
            <input type="text" class="form-control w-100" id="otherField1" placeholder="Full Name">
          </div>
          <div class="col-3">
    
            <input type="text" class="form-control w-100" id="otherField2" placeholder="Contact Number">
          </div>
          <div class="col-sm-6"></div>
          <div class="col-sm-3" >
            <label style="margin-bottom: 10px; margin-top:10px;">College ID card *</label>
            <input class="form-control" type="file" id="otherField3" name="img" accept="image/*" placeholder="ID Card" required>
          </div>
        </div>
    
      </div>
    
    
      <div class="row" >
    
        <div class="col-sm-6" style="margin-top:10px;">
          <label for="Address" class="form-label">Address *</label>
      <!--  <label for="Address" class="form-label">Address *</label> -->
        <input type="text" class="form-control" id="Address" placeholder="Street Address Line 1" >
    
        <input style="margin-top:15px;" type="text" class="form-control" id="Address" placeholder="Street Address Line 2">
    
    </div>
    <div class="col-sm-5"></div>
        <div style="margin-top:15px;" class="col-sm-3">
          <input  type="text" class="form-control" id="Address" placeholder="City" required>
        </div>
        <div style="margin-top:15px;" class="col-sm-3">
          <input  type="text" class="form-control" id="Address" placeholder="Region" required>
        </div>
    <div class="col-sm-5"></div>
    <div style="margin-top:15px;" class="col-sm-3">
      <input  type="number" class="form-control" id="Address" placeholder="Postal/Zip Code" required>
    </div>
    <div style="margin-top:15px;" class="col-sm-3">
      <input  type="text" class="form-control" id="Address" placeholder="Country" required>
    </div>
      </div>
    
    
    
    
    
      <label for="Address" class="form-label">PHYSCIAL DETAILS *</label>
    
        <div style="margin-top:15px;" class="col-sm-3">
          <input  type="number" class="form-control" id="height" placeholder="height (in cm)" required>
        </div>
        <div style="margin-top:15px;" class="col-sm-3">
          <input  type="number" class="form-control" id="waist" placeholder="waist (in inches)" required>
        </div>
        <div class="col-sm-5"></div>
    <div style="margin-top:15px;" class="col-sm-3">
      <input  type="number" class="form-control" id="bust" placeholder="Bust (in inches)" required>
    </div>
    <div style="margin-top:15px;" class="col-sm-3">
      <input  type="number" class="form-control" id="clothsize" placeholder="Clothing size" required>
    
    </div>
     <div class="col-sm-5"></div>
    <!-- <div class="row"> -->
    
    <div style="margin-top:15px;" class="col-sm-3">
      <input  type="number" class="form-control" id="pysical" placeholder="Hip (in inches)" required>
    </div>
    <div style="margin-top:15px;" class="col-sm-3">
    
      <select class="form-select">
        <option value="" disabled selected> Eye Colour </option>
        <option value="1"> blue eyes </option>
        <option value="2"> brown eyes </option>
        <option value="3"> Hazel  </option>
        <option value="4"> Green  </option>
        <option value="5"> Gray  </option>
        <option value="6"> Red or voilet  </option>
        <option value="7"> Amber  </option>
        </select>
    </div>
    
     <div class="col-sm-5"></div>
    
    
    <div style="margin-top:15px;" class="col-sm-3">
    
      <select class="form-select" required>
        <option value="" disabled selected> Skin Tone </option>
        <option value="1">  Porcelain </option>
        <option value="2">  Ivory </option>
        <option value="3"> Warm Ivory  </option>
        <option value="4"> Sand  </option>
        <option value="5"> Beige  </option>
        <option value="6"> Warm Beige </option>
        <option value="7"> Natural  </option>
        <option value="8"> Honey  </option>
        <option value="9"> Golden  </option>
        <option value="10"> Almond  </option>
        <option value="11"> Chestnut  </option>
        <option value="12"> Espresso  </option>
        </select>
    </div>
    
    
    <div class="col-sm-8"></div>
    
    <!-- </div> -->
    <div style="margin-top:15px;" class="col-sm-3">
    
    <select class="form-select" aria-label="Default select example" required>
      <option value="" disabled selected>Hair colour</option>
      <option value="1">Black</option>
      <option value="2">Brown</option>
      <option value="3">Blonde</option>
      <option value="4">Burgundy</option>
      <option value="5">Other</option>
    </select>
    </div>
     <div class="col-sm-3">
       <input type="text" class="form-control" id="other_color" placeholder="If other, mention the colour" >
     </div>
    
    <div class="col-sm-10"></div>
    
     <div class="col-sm-3" style="margin-top:0;">
     <select class="form-select">
       <option value="" disabled selected> Shoe Size (UK Size) </option>
       <option value="1"> 3 </option>
       <option value="2"> 4 </option>
       <option value="3"> 5 </option>
       <option value="4"> 6 </option>
       <option value="5"> 7 </option>
       <option value="6"> 8 </option>
       <option value="7"> 9 </option>
       <option value="8"> 10 </option>
       <option value="9"> 11 </option>
    
       </select>
       </div>
       <div class="col-sm-8"></div>
       <div class="col-sm-3" style="margin-top:15px;">
       <select class="form-select" aria-label="default select example" required>
         <option value="" disabled selected> Hair length  </option>
         <option value="1"> Ear length </option>
         <option value="2"> Chin length </option>
         <option value="3"> Shoulder length  </option>
         <option value="4"> Mid bacl length </option>
         <option value="5"> Tailbone length  </option>
         <!-- <option value="6"> *Not applicable* </option> -->
         </select>
    
       </div>
    
    <div class="col-sm-8"></div>
    
    
    
    
    
    
    
    
    
    
    
    
    <label for="Address" class="form-label">Social Media Handles*</label>
    
           <div style="margin-top:15px;" class="col-sm-3">
             <input  type="" class="form-control" id="social" placeholder="Instagram" >
           </div>
           <div style="margin-top:15px;" class="col-sm-3">
             <input  type="number" class="form-control" id="social" placeholder="Number of followers">
           </div>
           <div class="col-sm-5"></div>
       <div style="margin-top:15px;" class="col-sm-3">
         <input  type="" class="form-control" id="social" placeholder="Facebook">
       </div>
       <div style="margin-top:15px;" class="col-sm-3">
         <input  type="number" class="form-control" id="social" placeholder="Number of followers">
    
       </div>
    
    
       <div class="col-sm-5"></div>
         <div style="margin-top:15px;" class="col-sm-3">
           <input  type="text" class="form-control" id="social" placeholder="LinkedIn">
         </div>
         <div style="margin-top:15px;" class="col-sm-3">
           <input  type="text" class="form-control" id="social" placeholder="Number of connections">
         </div>
    
    
         <div class="col-sm-5"></div>
         <div style="margin-top:15px;" class="col-sm-3">
           <input  type="" class="form-control" id="social" placeholder="Mojo">
         </div>
         <div style="margin-top:15px;" class="col-sm-3">
           <input  type="number" class="form-control" id="social" placeholder="Number of followers">
    
         </div>
    
         <div class="col-sm-5"></div>
         <div style="margin-top:15px;" class="col-sm-3">
           <input  type="" class="form-control" id="social" placeholder="Blog">
         </div>
         <div style="margin-top:15px;" class="col-sm-3">
           <input  type="" class="form-control" id="social" placeholder="Link">
    
         </div>
         <div class="col-sm-5"></div>
    
    <label>Upload Images</label>
    <!-- <div class="col-sm-3">
      <label>Headshot*</label>
      <input class="form-control" type="file" id="img" name="img" accept="image/*" placeholder="Headshot" required>
    </div> -->
    <!-- <div class="col-sm-3">
      <label>Mid Length*</label>
      <input class="form-control" type="file" id="img1" name="img1" (change)="selectFile($event)" placeholder="Mid Length" required>
    </div> -->
    <div class="col-sm-3">
      <label>Full Length*</label>
      <input class="form-control" type="file" id="img" name="img" (change)="selectFile($event)" placeholder="Full Length" required>
    </div>
    
    <div class="col-sm-1"></div>
    
    
         <div class="col-sm-3">
           <label for="no_of_branch" class="form-label" >Number of years active on social media *</label>
           <select class="form-select" aria-label="Default select example" placeholder="select" required>
    
           <option value="1">0-1 years</option>
           <option value="2">1-2 years</option>
           <option value="3">2-3 years</option>
           <option value="4">3-4 years</option>
           <option value="5"> >4</option>
    
         </select>
         </div>
    
         <div class="col-sm-3">
           <label for="no_of_branch" class="form-label" >Preferred Work City*</label>
           <select class="form-select" aria-label="Default select example" placeholder="select" required>
    
           <option value="1">Hyderabad</option>
           <option value="2">Warangal</option>
           <option value="3">Vijaywada</option>
           <option value="4">Bangalore</option>
           <option value="5">Chennai</option>
           <option value="6">Others</option>
    
         </select>
         </div>
     <div class="col-sm-5"></div>
    
         <div class="col-sm-3" style="margin-top:10px;">
           <label for="Address" class="form-label">BRANDS ASSCOIATED SO FAR *</label>
    
         <input type="text" class="form-control" id="Address" placeholder="Ex Myntra ,Amazon etc" required>
         </div>
    
         <div class="col-sm-3" style="margin-top:10px;">
           <label for="Address" class="form-label">PREVIOUS COLLABORATIONS</label>
    
         <input type="text" class="form-control" id="collab" placeholder="">
         </div>
    
    
         <div class="col-sm-5"></div>
         <div style="margin-top:15px;" class="col-sm-3">
           <label> PHONE NUMBER* </label>
           <input  type="number" class="form-control" id="contact" placeholder="+91"  pattern="[0-9]{10}" required>
    
         </div>
         <div style="margin-top:15px;" class="col-sm-3">
           <label> EMAIL ID* </label>
           <input  type="text" class="form-control" id="contact" placeholder="EMAIL ID" required>
         </div>
    
    
    <div class="col-sm-5"></div>
         <div style="margin-top:15px;" class="col-sm-6">
           <label>
             OTHER
           </label>
           <input  type="" class="form-control" id="contact" placeholder="How did you hear about us">
         </div>
    
    
     <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
            Accept all terms and conditions
          </label>
        </div>
        <div class="col-3">
         <button type="submit" class="btn btn-primary">Submit</button>
       </div>
    
    
     </form>
     </div>
    
    
    </div>
    


    <router-outlet></router-outlet>