<!-- <div class="def" >

  <div class="abt_data">
     <div class="blog"><a >Blogs</a></div>
   <div class="data_abt blog_data">
     <div class="row">
<div class="col-md-4">
<div class="thumbnail">
 <a href="#">
   <img class="thum_img" src=".assets/images/pic5.jpeg" alt="Ikkat" >
   <div class="caption cap_">
     <p>Ikkat Dyeing</p>
   </div>
 </a>
</div>
</div>
<div class="col-md-4">
<div class="thumbnail">
 <a href="#">
   <img class="thum_img" src="" alt="Design" >
   <div class="caption cap_">
     <p>Design Making</p>
   </div>
 </a>
</div>
</div>
<div class="col-md-4">
<div class="thumbnail">
 <a href="#">
   <img class="thum_img" src="pic5.jpeg" alt="Fashion">
   <div class="caption cap_">
     <p>Fashion Blog</p>
   </div>
 </a>
</div>
</div>
</div>
    </div>
  </div>

  <div class="abt_data"  >
     <div class="blog"><a href="#" target="_blank">Our Story</a></div>
   <div class="data_abt story_data">
<p class="sto_p"><img class="sto_img" src="" alt="Story" > <pre>
Many fashion blogs could also be categorized as shopping blogs, similar
to the content of fashion magazines. Some retailers in the fashion industry
have started blogs to promote their products </pre> 
  </div>
</div>

    <div class="abt_data"  >
       <div class="blog"><a href="#" target="_blank">Our Team</a></div>
     <div class="data_abt team_data">


  <div class="sid">

      <img class="sid_img" src="" alt="Siddhart" >

      <div class="caption sid_cap">
< class="sid_data"> <pre>Many fashion blogs could also be categorized as shopping blogs, similar
to the content of fashion magazines. Some retailers in the fashion industry
have started blogs to promote their products. </pre>
      </div>
<p class="sid_cap2">Siddhart Reddy</p>
  </div>
  <div class="row" style="margin-top:80px; margin-left:200px;">
<div class="col-md-4">
  <div class="thumbnail">

      <img class="team_img" src="pic.JPG" alt="Nishanth" >
      <div class="caption">
        <p>Nishanth Reddy</p>
      </div>

  </div>
</div>
<div class="col-md-4">
  <div class="thumbnail">

      <img class="team_img" src="pic2.jpg" alt="Name" >
      <div class="caption">
        <p>Person Name</p>
      </div>

  </div>
</div>
<div class="col-md-4">
  <div class="thumbnail">

      <img class="team_img" src="pic3.jpeg" alt="Name" >
      <div class="caption">
        <p>Person Name</p>
      </div>

  </div>
</div>
</div>
<div class="row" style="margin-top:50px; margin-left:200px;">
<div class="col-md-4">
<div class="thumbnail">

  <img class="team_img" src="pic.JPG" alt="Nishanth" >
  <div class="caption">
    <p>Nishanth Reddy</p>
  </div>

</div>
</div>
<div class="col-md-4">
<div class="thumbnail">

  <img class="team_img" src="pic2.jpg" alt="Name" >
  <div class="caption">
    <p>Person Name</p>
  </div>

</div>
</div>
<div class="col-md-4">
<div class="thumbnail">

  <img class="team_img" src="pic3.jpeg" alt="Name" >
  <div class="caption">
    <p>Person Name</p>
  </div>

</div>
</div>
</div>
</div>
</div>
      </div>


 -->
        

<router-outlet></router-outlet>