<div class="abc">
  <div class="ven_data">
    <div class="ven">
      <a class="influencers" (click)=onClickVendors() >As a Vendor</a> 
    </div>

    <div class="data_v">
      <img src="./assets/images/pic2.jpg" alt="picture" class="img_ven" />
      <pre>
Many fashion blogs could also be categorized as shopping blogs, similar to the content of
fashion magazines. Some retailers in the fashion industry have started blogs to promote
their products.</pre>
    </div>
  </div>
  <div class="inf_data">
    <div class="inf">
      <a class="influencers" (click)=onClickInfluencers() >As Influencer</a> 
    </div>
    <div class="data_i">
      <img src="./assets/images/pic3.jpeg" alt="picture" class="img_influ" />
      <pre>
Many fashion blogs could also be categorized as shopping blogs, similar to the content of
fashion magazines. Some retailers in the fashion industry have started blogs to promote
their products </pre
      >
    </div>
  </div>

  <!-- <div>
  <a class="vendor"   routerLink="vendors">As a vendor</a>
  <br>
  <a class="influencers" (click)=onClickInfluencers() >As Influencer</a>       

<div>
  <p>dummy text</p>
</div>
    
    </div>
<div> -->
  <router-outlet> </router-outlet>
</div>
