/* html,
body {
  
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: system-ui;

  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}






 .logo {
  width: 110px;
  height: 60px;
}

.navbar-brand {
  display: inline-block;
  width: 100px;
  margin-right: 30px;
}

.navbar {
  padding: 20px;
}

.nav-item {
  
  width: 200px;
  text-align: center;
}

.nav-link {
  border: none;
  background-color: #f8f9fa;
  font-size: 1.5rem;
}

.container-fluid {
  width: 80px;
}

.round {
  margin-left: 400px;
  border-radius: 15px;
  border: 1px grey solid;
  padding: 5px 5px 5px 25px;
  position: absolute;
  z-index: 5;
}

.signin {
  margin-left: 400px;
}

.dropbtn {
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;

  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: grey;
} */


/* CSS From Atom */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  font-family: system-ui;
  margin: 0;
  color: white;
  text-align: center;
}



.logo{
  width: 110px;
  height: 60px;

}




.navbar-brand{
  display: inline-block;
  width: 100px;
  margin-right: 30px;
}

.navbar-toggler{
  color: black;
}

.nav-item{
      margin-right: 30px;
}

.nav-link{
  border: none;
  /* background-color: #f8f9fa; */

}


.round {
    margin-left: 400px;
    border-radius: 15px;
  /*  border: 1px grey solid; */
    padding: 5px 5px 5px 25px;
    position: absolute;
    z-index: 5;
}

.signin{
  margin-left: 400px;

}

.dropbtn {
  border: none;
  cursor: pointer;
  margin-top: 5px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;

  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: grey;
}

.tag_line{
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.new_data{
  position: absolute;
    top: 350px;
    transform: rotate(11deg);
    left: 100px;
}

.new_data2{
  position: absolute;
    top: 370px;
    left: 1000px;
}

.black_logo{
  height: 500px;
    width: 500px;
    opacity: 30%;
}


 .grad1{
  /* height: 500px;
  width: auto; */
/*  background-image: linear-gradient(45deg, #6303B1, #ff0099); */
  transform: skewY(-110deg);
}

.dia{
  height: 790px;
  width: auto;
  background-image: linear-gradient(45deg,#F47340, #F6D860, #EA5C2B, #FF7F3F);
  transform: skewY(-11deg);
  position: relative;
  bottom: 150px;
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;

}

.dia:hover, .dia:focus{
  background-position: right;

}

.dia2{
  max-width: 50em;
    margin: 0 auto;
    transform: skewY(11deg);
    position: relative;
    top: 180px;
}







/*footer*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI";
  font-weight: 400;
  background-color: #ededed;
}
.footer {
  padding: 40px 0;

 
  bottom: 0;
  height: 5px;
  position: relative;
  margin-bottom: 0;
  height: 80px;
}

.foot {
  position: absolute;
  top: 1500px;
  background-color: orange;
  display: inline;
  height: 200px;
  left: 0;
  bottom: 0;
  width: 100%;
  
  /*padding-bottom: 50px; 
  margin-bottom: 500px; */
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4b4b;
  margin: auto;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 10px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 0;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.copyright {
  padding-bottom: 50px;
  padding-bottom: 0;
}
