<p>contactus works!</p>




  
  

    <!-- Info -->
    <div class="pqr">
        <div class="full_div">
          <table>
            <tr>
              <td class="left_div">
       <h2 style="text-align:left; color: black; margin-left:100px;">Contact Us</h2>
                  <div class="form_row left_part">
                    <div class="row g-3 ">
            <div class="col-sm-6">
              <label style="color:black;">Name</label>
              <input type="text" class="form-control "  aria-label="Name">
            </div>
                </div>
                <div class="row g-3 ">
        <div class="col-sm-6" style="margin-top: 30px;">
          <label style="color:black;">Email</label>
          <input type="text" class="form-control "  aria-label="Name">
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <label style="color:black;">Message</label>
          <textarea class="form-control " rows="5" cols="50"  aria-label="Name"> </textarea>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-5" style="margin-top:30px; ">
          <button type="button" class="btn btn-dark" style="padding-left:25px; padding-right:25px;">Send</button>
        </div>
            </div>
                </div>
      
                <div class="right_part">
                  <h2 style="color:black; margin-top:30px;">Information</h2>
                  <div class="boot_icon">
                    <table style="border-spacing:5px;">
                      <tr>
                        <td>
                          <i class="bi bi-envelope"></i> <p class="text2">Srgauni@gmail.com</p>
                        </td>
                      </tr>
      
                      <tr >
                    <td >
                      <i class="bi bi-telephone"></i> <p class="text2">+91 1234 324234</p>
                    </td>
                      </tr>
      
                      <tr >
                    <td >
                      <i class="bi bi-geo-alt"></i> <p class="text2">Hyderabad, Telangana</p>
                    </td>
                      </tr>
      
                      <tr >
                    <td >
                      <i class="bi bi-clock"></i> <p class="text2">09:00am to 07:00pm</p>
                    </td>
                      </tr>
      
                    </table>
      
      </div>
      
                </div>
      
              </td>
              <td class="right_div">
      
              </td>
            </tr>
          </table>
        </div>
      
      
      </div>
      


<router-outlet></router-outlet>

