



    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" data-bs-pause="hover" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/images/pic.JPG" class="d-block  pict" alt="Photo">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/pic3.jpeg" class="d-block  pict" alt="Photo">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/pic4.jpeg" class="d-block  pict" alt="Photo">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/pic5.jpeg" class="d-block  pict" alt="Photo">
        </div>
      </div>
    </div>

<div>
  <router-outlet> </router-outlet>
</div>
