.cmngsoon {
  text-align: center;
}
.pict{

  width: 350px;
  height: 350px;
  margin: auto;
}

.right_cont{
  opacity: 70%;
  height: 200px;
  width: 300px;
 
  margin-left: 200px;
  border-style: dashed;
  border-color: #F14A16;
  border-width: 5px;
  margin-top: 80px;
}



.left_vid{
  opacity: 70%;
  height: 100px;
  width: 200px;

  margin-left: 100px;
  border-style: dashed;
  border-color: #F14A16;
  border-width: 5px;
  margin-top: 80px;
}

.ful_div{
  background-color: #FFF1BD;
  padding: 30px;
}


